Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-macro-usage,
    misc-*,
        -misc-non-private-member-variables-in-classes,
    modernize-*,
        -modernize-use-trailing-return-type,
    performance-*,
        -performance-noexcept-*,
    portability-*,
    readability-*
